<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="home">
        <a href="/">Home </a> |
        <a href="/register">Register</a>
    </div>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST" class="form">
            <div class="box">
                <i class="fa fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Email" class="input" required>	
            </div>
            <div class="box">
                <i class="fa fa-lock"></i>    
                <input type="password" name="password" id="password" placeholder="Password" class="input" required><br>
            </div>
            <input type="submit" class="btn" value="Login">
        </form>
        <p class="redirect">
            Don't have an account? <a href="/register">Register Here</a>
        </p>
    </div>
</body>

</html>