<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Hind+Siliguri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/equipment.css">
</head>

<body>
    <header>
        <a href="" class="logo">MyFitness</a>
        <input type="checkbox"  id="menu-bar">
        <label for="menu-bar">Menu</label>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <a href="#">Manage Users</a>
                </li>
                <li>
                    <a href="#">Manage Equipments</a>
                    <ul>
                        <li><a href="/add-equipment">Add</a></li>
                        <li>
                            <a href="#">Status</a>
                        </li>
                        <li>
                            <a href="/remove-equipment">Remove</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-user"></i></a>
                    <ul>
                        <li><a href="#">Update Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>
<div class="container">
    <h1>Remove Equipment</h1>
    <form action="/remove-equipmet" method="POST" class="form">
        <div class="box">
            <input type="text" id="equip-id" name="equip-id" placeholder="Enter Equipment ID" class="input">
        </div>
        <input type="submit" value="Remove" class="book">
    </form>
</div>
</html>