.property-card {
    height: 16em;
    width: 12em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}


/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */


/* Top Half of card, image. */

.property-image {
    height: 16em;
    width: 12em;
    padding: 1em 2em;
    position: Absolute;
    top: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: cover;
    background-repeat: no-repeat;
}


/* Bottom Card Section */

.property-description {
    height: 0em;
    padding: 0px 1em;
}

.property-card:hover .property-description {
    background-color: #FAFAFC;
    height: 10em;
    width: 12em;
    position: absolute;
    bottom: 0em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
}

.property-card:hover .property-image {
    height: 6em;
}

.property-card:hover .property-social-icons {
    background-color: white;
}

.property-image-title {
    text-align: center;
    position: Relative;
    top: 30%;
    opacity: 1;
    color: black;
}

.property-card:hover .property-image-title {
    text-align: center;
    position: Relative;
    top: 30%;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    color: black;
    font-size: 1.2em;
}


/* .card{
  border: none;
} */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.card {
    border: none;
}

.btn {
    margin-right: 11px;
    margin-top: 4px;
    color: white;
}

.btnsign {
    visibility: hidden;
}

.our-team {
    padding: 20px 10px 20px;
    background: #e8e8e8;
    border-radius: 15px;
    text-align: center;
}

.our-team .pic {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #e8e8e8;
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
}

.pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.our-team .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}

.our-team .post {
    display: block;
    font-size: 15px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.our-team .social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.our-team .social li {
    display: inline-block;
    margin-right: 5px;
}

.our-team .social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: black;
    border: 1px solid black;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social li a {
    background: black;
    color: #fff;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}

.green-contact-form {
    width: 700px;
    margin: 0 auto;
    border-radius: 10px;
}

.title-form {
    max-width: 550px;
}

.footer {
    background: #323a42;
    color: white;
}

.footer .links ul {
    list-style-type: none;
}

.footer .links li a {
    color: white;
    transition: color 0.2s;
}

.footer .links li a:hover {
    text-decoration: none;
    color: #4180cb;
}

.footer .about-company i {
    font-size: 25px;
}

.footer .about-company a {
    color: white;
    transition: color 0.2s;
}

.footer .about-company a:hover {
    color: #4180cb;
}

.footer .location i {
    font-size: 18px;
}

.footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}